/* Estilo do cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.logo h1 {
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    text-decoration: underline;
}
